<!doctype html>
<html>
<head>
 
 	<%- include head %>

	<div id="page" class="container"><div><div id="driver_box"><div class="driver-item"><div class="stretch"><div class="avatar_msk"><img src="http://imgs.aidaijia.com/upimage/ffb4ee26-eb96-4200-b7d5-7dba8ddca009.jpg" alt="翟荣义"></div></div>
<div class="stretch">
	<h2>翟荣义</h2>
	<span class="rating blue-diamond r-4"></span>
	<p><span class="text-grey">服务:591次</span><span class="text-grey">驾龄:6年</span></p>
</div>
<div class="stretch"><a href="tel:15958159896" class="icon_tel"></a></div></div></div>
<ul id="order_timeline" class="timeline"><li class="item">
	<span class="circle"></span>
	<div class="content">
	  <p>很高兴为您服务！我将尽快赶到~</p>
	</div>
	<span class="date">17:39</span>
</li>




</ul>
<div id="order_pay"></div></div></div>